@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

.font{
    font-family: 'Mr Dafoe', cursive;
}

.drawer-side a.active{
    color : white;
    background-color: #FF69B4;
}

